body {
  position: relative;
  background-color: #E3E3E3;
  float: right;
  background-image: url('http://i.imgur.com/uRtxSFU.jpg');
  background-size: cover;
}

.container-fluid {
  width: 100%;
  position: relative;

}

#track {
  height: 400px;
  width: 1510px;
  position: relative;
  border: 10px solid white;
  background-color: #5E686B;
  border-radius: 8pt;
  margin-top: 20px;

}

.player1 {
  height: 100px;
  width: 100px;
  background-color: green;
  margin-top: 50px;
  position: absolute;
  left: 1%;
  border-radius: 5pt;
  background-image: url('http://i.imgur.com/5t1ZoLC.jpg');
  background-size: cover;
  border: 10px solid #F62121;
}

.player2 {

height: 100px;
width: 100px;
background-color: blue;
margin-top: 25px;
position: absolute;
left: 1%;
border-radius: 5pt;
background-image: url('http://i.imgur.com/ZAwC6Z1.jpg');
border: 10px solid black;

}

button {
  margin-top: 30px;
  font-family: arial;
  font-size: 25pt;
  background-color: #323131;
  text-decoration: bold;
  padding: 10px;
  text-align: center;
  color: white;
  border: 2px solid #323131;
  border-radius: 25pt;
}

.reset {
width: 250px;
height: 150px;
margin-left: auto;
margin-right: auto;
}

.racingLine {
  height: 2px;
  width: 1500px;
  border: 10px dashed white;
  margin-top: 175px;
}

.header.text-center {

height: 120px;
width: 400px;
margin-left: auto;
margin-right: auto;
background-color: #323131;
color: white;
border-radius: 20pt;

}
